checkpoints/*
*.pyc
*.out 
*.txt 
*.bak 
*.json 
slurm* 
.idea/
channel_sample.txt
channel_sample_whole_dataset.txt
slurm*
tmp.txt
log/*
visualdl_log/*
*.out 
fairnas.out
fairnas2_log_nan.out
train_standalone_list.sh
train_standalone.sh
